<div class="ts3index-viewer" data-serverid="229929" data-style="size=14&hidebadges">
    <a href="https://ts3index.com/?page=server&id=229929">TS3index.com</a>
</div>
<a href="ts3server://ts.afo-odin.com/" class="btn btn-outline-primary mx-auto mt-4">Connect</a>
<script src="https://static.tsviewer.com/short_expire/js/ts3viewer_loader.js"></script>
<script language="javascript">(function() {var c = document.createElement("script"),s = document.getElementsByTagName("script")[0];c.type = "text/javascript"; c.async = true;c.src = "https://ts3index.com//viewer/script.js";s.parentNode.insertBefore(c, s);})();</script>