<div id="about">
    <h1 class="mb-5">About Us</h1>
    <h4>Formation</h4>
    <p>We're a community, that went through a lot. We exist since 2010, first as Arrows-Clan, then ARWS-Clan (because Battlefield only allowed 4 characters in the clantag), afterwards 7. Jagdgeschwader, 2. Gebirgsjägerkompanie, and finally this name. We started off as a gaming-community without inherent games, specialized on Armed Assault (ArmA) afterwards, and came back to being an open community, with emphasis on shooters, MOBAs and simulation. To be fair we still play a lot of ArmA though.</p>
    <hr class="my-4">
    <h4 class="my-4">Philosophy</h4>
    <p>We represent a lot of games. It doesn't matter what you're playing, you're always welcome here. We don't judge other games, even if we sometimes joke about some. You can even rage and flame, as long as you don't offend other members personally. If someone's stuck on something, he's being helped. We appreciate social behavior. We prefer playing as a group rather than alone and no one gets left behind!</p>
    <hr class="my-4">
    <h4 class="my-4">Organisation</h4>
    <p>We had a lot of organization methods. Back in the days we thought, that a strict hierarchy was important. The problem was, we didn't think about the criteria for promotion, which lead to unfair promotions and chaos. We learned from our errors and created a very simple system. We have a meeting discussing topics about our community <a href="https://calendar.google.com/calendar?cid=bTZpbzUzbGxuZGZtcHJzNG01cHM1NGZnOThAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ">every second tuesday</a>. Decisions are made democratically and a protocol is written. The meetings can be attended by anyone accepting the meeting rules. The right to vote is preserved to senior members.

        <br>
        <span class="badge badge-secondary mt-4">Trial Members</span> need to go through a two-week tryout phase.
        <br>
        <span class="badge badge-success">Regular Members</span> are all equal, regardless of their membership time.
        <br>
        <span class="badge badge-primary">Senior Members</span> get their rank after two years of membership. They can give orders to regular members and can vote for changes in our two-weekly meetings.
        <br>
        <span class="badge badge-special">Moderators</span> are people, who we trust and bring the needed know-how. They are responsible well-being of the community.
        <br>
        <span class="badge badge-danger">Administrators</span> work on our servers and guarantee an excellent technical experience

        <a href="/members" class="mt-4">A current list of members, their groups and country can be found here!</a>
    </p>

    <hr class="my-4">
    <h4 class="my-4">What do we offer?</h4>
    <ul>
        <li>Free membership</li>
        <li>Strict but fair rules</li>
        <li>Small community with familiar atmosphere</li>
        <li>Participating in improving the community</li>
        <li>Root server (in Nürnberg/Germany)</li>
        <li>We can host any linux-supported games for our members</li>
    </ul>
</div>
</div>