<div id="application">

    <div class="text-center">
        <h1>Join - Apply Now!</h1>
        <h3>Do you want to join us? We'd love to!</h3>
        <p class="description">So you want to join our humble community? Great! Join the Application channel on our Teamspeak 3 server and recruitment-personnel will be with you shortly. See you soon!</p>
    </div>

    <img src="/images/application_ch.png" alt="application channel" class="mt-4 mb-4 mx-auto d-none d-sm-block">

    <hr class="mt-5 mb-5"/>

    <div id="join">
        <div id="faq">
            <h4>Frequently asked questions:</h4>
            <h5>I am under the age of 16, can I join anyways?</h5>
            <ul>
                <li>Well that depends on how you got here. We take in members under 16 with a guarantee that's already a member. In case we need to punish you, that guarantee will get half of the punishment himself.</li>
            </ul>
            <h5>What do I have to bring/What are the requirements</h5>
            <ul>
                <li>at least 16 years old</li>
                <li>hardware for clear communication - rather headphones than speakers and a good microphone</li>
                <li>Teamspeak 3</li>
                <li>English, German or both</li>
                <li>(optional) good hardware, to support most of our games</li>
            </ul>
        </div>
    </div>

</div>