<div id="imprint">
    <h1 class="text-center mb-3">Imprint</h1>
    <p class="text-center">Information in accordance with the German Telemedia Act (TMG)</p>

    <table id="imprint-table">
        <tr>
            <td class="desc">Name and Adress</td>
            <td>Michael Ackermann</br>Königstraße 36</br>70736 Fellbach</br>Germany</td>
        </tr>
        <tr>
            <td class="desc">E-Mail Adress</td>
            <td><a href="mailto:onkeldismaster@gmail.com">onkeldismaster (at) gmail.com</a></td>
        </tr>
        <tr>
            <td class="desc">Phone</td>
            <td>+49 (0) 176 72488657</td>
        </tr>
    </table>

    <hr/>

    <h1 class="mt-4 mb-4">Disclaimer</h1>

    <h4>Accountability for content</h4>
    <p>The contents of our pages have been created with the utmost care. However, we cannot guarantee the contents' accuracy, completeness or topicality. According to statutory provisions, we are furthermore responsible for our own content on these web pages. In this context, please note that we are accordingly not obliged to monitor merely the transmitted or saved information of third parties, or investigate circumstances pointing to illegal activity. Our obligations to remove or block the use of information under generally applicable laws remain unaffected by this as of the Telemedia Act (TMG).</p>

    <h4>Accountability for links</h4>
    <p>Responsibility for the content of external links (to web pages of third parties) lies solely with the operators of the linked pages. No violations were evident to us at the time of linking. Should any legal infringement become known to us, we will remove the respective link immediately.</p>

    <h4>Copyright</h4>
    <p>Our web pages and their contents are subject to German copyright law. Unless expressly permitted by law, every form of utilizing, reproducing or processing works subject to copyright protection on our web pages requires the prior consent of the respective owner of the rights. Individual reproductions of a work are allowed only for private use, so must not serve either directly or indirectly for earnings. Unauthorized utilization of copyrighted works is punishable.</p>
</div>